#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.innovationDiv {
  width: 1300px;
  height: 775px;
  border: 0.5px solid white;
  display: flex;
  flex-direction: column;
}

#sector1 {
  width: 1300px;
  height: 75px;
  display: flex;
  flex-direction: row;
}

#numbers {
  width: 1300px;
  height: 25px;
  display: flex;
  flex-direction: row;
  div {
    background-color: rgb(100, 100, 100);
  }
  span {
    color: white; 
   }
}

#sector2 {
  width: 1300px;
  height: 75px;
  display: flex;
  flex-direction: row;
}

#sector3 {
  width: 1300px;
  height: 50px;
  display: flex;
  flex-direction: row;
}

#sector4 {
  width: 1300px;
  height: 550px;
  display: flex;
  flex-direction: row;
}

#section4DropdownDiv {
  width: 100px;
  margin-top: 250px;
  select {
    width: 75px;
  }
}

#sector1, #sector2, #sector3, #sector4 {
  border: 0.5px solid white;
  border-bottom: none !important;
}

.sectorColumns {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  border: 0.5px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.numbersColumns {
  width: 100px;
  border: 0.5px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sector3Columns {
  width: 100px;
  border: 0.5px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
}

#operatorDropdown {
  margin-top: 15px;
  width: 75px;
}

.heading {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}